<template>
    <div>
        <AtomInput type="text" :placeholder="placeholder" v-model="needle"></AtomInput>
        <ul>
            <li v-for="option in options">{{ option }}</li>
        </ul>
    </div>
</template>
<script setup lang="ts">

const props = defineProps<{
    modelValue?: string,
    placeholder: string,
    options: Array<any>
}>();

const emits = defineEmits(['changed']);
const needle = ref("");

watch(needle, (newNeedle)=> {
    emits('changed', newNeedle);
})
</script>