<template>
    <div
        class="flex border rounded-lg mt-8 border-secondary py-4"
        style="padding: 20px"
    >
        <div class="w-9/12 justify-between text-left">
            <h2 class="text-secondary font-bold mb-4">{{ job?.title }}</h2>
            <span class="meta">{{ job?.jobType }}</span>
            <span class="meta">{{ job?.company?.name }}</span>
            <span class="block mt-2"
                >{{ job?.address?.town }},{{ job?.address?.country }}</span
            >

            <br />
            <br />
            <span class="meta text-left"
                >Date Posted:{{
                    GetFomattedDate(new Date(job?.createdAt))
                }}</span
            >

            <span class="meta text-left"
                >Expires:{{ GetExpiredDate(new Date(job?.createdAt)) }}</span
            >
        </div>
        <div style="align: right; padding: 50px" align="top" class="w-2/12">
            <a
                href="javascript:void(0)"
                v-on:click="openPopup"
                id="newId"
                style="color: #ee1d24"
            >
                <img
                    src="../../assets/ThreeDots.png"
                    height="10"
                    width="20"
                    alt="Edit/Maintain"
                    style="text-align: right"
                />
            </a>
        </div>
    </div>
</template>
<script lang="ts" setup>
const props = defineProps<{
    job: {
        createdAt: Date;
        jobType: String;
        languages: String;
        company: { name: String };
        address: { town: String; country: String };
        title: String;
    };
}>();

const GetExpiredDate = (time: Date) => {
    const ExpiredDate = new Date(time.setMonth(time.getMonth() + 1));
    const _MS_PER_DAY = 1000 * 60 * 60 * 24;
    // Discard the time and time-zone information.
    const utc1 = Date.UTC(
        ExpiredDate.getFullYear(),
        ExpiredDate.getMonth(),
        ExpiredDate.getDate()
    );
    const utc2 = Date.UTC(
        new Date().getFullYear(),
        new Date().getMonth(),
        new Date().getDate()
    );
    const diffTime = Math.abs(utc1 - utc2);
    const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));

    return (
        "in " + diffDays + "days" + " (" + GetFomattedDate(ExpiredDate) + ")"
    );
};

const whichTime = (time: Date) => {
    const _MS_PER_DAY = 1000 * 60 * 60 * 24;
    // Discard the time and time-zone information.
    const utc1 = Date.UTC(
        new Date().getFullYear(),
        new Date().getMonth(),
        new Date().getDate()
    );
    const utc2 = Date.UTC(time.getFullYear(), time.getMonth(), time.getDate());

    if (new Date().getTime() - 10 * 60 * 1000 <= time.getTime()) {
        return "just added";
    }
    const diffTime = Math.abs(utc1 - utc2);
    const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
    const diffMonth = Math.ceil(diffDays / 30);

    if (diffDays > 31) {
        return diffMonth + "months before";
    } else if (diffDays > 0) {
        return diffDays + "days before";
    }
};

const GetFomattedDate = (time: Date) => {
    return (
        time.getDate() +
        " " +
        time.toLocaleString("en-us", { month: "long" }) +
        " " +
        time.getUTCFullYear()
    );
};
</script>

<style lang="scss" scoped>
.meta {
    @apply text-gray-500 block;
}

.goto {
    transform: rotate(180deg);
}
</style>
