<template>
    <button class="btn" :class="type" @click="$emit('handleClick')">
        {{ props.content }}
    </button>
</template>
<script setup>
const props = defineProps({
    type: "primary" | "secondary" | "tertiary",
    content: String,
});
// const emit = defineEmits(["handleClick"]);
</script>
<style lang="scss" scoped>
.btn {
    @apply whitespace-nowrap text-center py-2 px-3 font-medium rounded-lg;

    &.primary {
        @apply text-black bg-primary;
        &:hover {
            background-color: #ffeb3b;
        }
    }

    &.secondary {
        @apply text-white bg-secondary;
        &:hover {
            background-color: #004691;
        }
    }

    &.tertiary {
        @apply text-white bg-tertiary;
    }
}
</style>
