<template>
    <div class="p-4 inset-x-0 bottom-0 lg:h-48">
        <!-- Project is not building with footer right now. 
        So I commented it out to have a working pipeline until fixed. -->
        <!--
            <div class="lg:hidden">
            <div class="flex justify-between mb-8">
                <div class="w-2/4">
                    <p class="mb-3 text-sm font-semibold">CONNECT</p>
                    <ul class="text-xs space-y-2">
                        <li>
                            <NuxtLink to="/">Privacy Policy</NuxtLink>
                        </li>
                        <li>
                            <NuxtLink to="/">Imprint</NuxtLink>
                        </li>
                        <li>
                            <NuxtLink to="/">Contact Us</NuxtLink>
                        </li>
                    </ul>
                </div>
                <div class="w-2/4">
                    <p class="mb-3 text-sm font-semibold">INFORMATION</p>
                    <ul class="text-xs space-y-2">
                        <li>
                            <NuxtLink to="/">Media</NuxtLink>
                        </li>
                        <li>
                            <NuxtLink to="/">Press</NuxtLink>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mb-8">
                <div>
                    <p class="mb-3 text-sm font-semibold">SHARE</p>
                </div>
                <div>
                    <ul class="flex items-center justify-between">
                        <li class="flex flex-col">
                            <img src="~/assets/icons/social/facebook.svg" />
                            <span class="text-xs text-center">Facebook</span>
                        </li>
                        <li class="flex flex-col">
                            <img src="~/assets/icons/social/linkedin.svg" />
                            <span class="text-xs text-center">Linkedin</span>
                        </li>
                        <li class="flex flex-col">
                            <img src="~/assets/icons/social/twitter.svg" />
                            <span class="text-xs text-center">Twitter</span>
                        </li>
                        <li class="flex flex-col">
                            <img src="~/assets/icons/social/whatsapp.svg" />
                            <span class="text-xs text-center">Whatsapp</span>
                        </li>
                        <li class="flex flex-col">
                            <img src="~/assets/icons/social/email.svg" />
                            <span class="text-xs text-center">Email</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="flex justify-between">
                <NuxtLink href="/">
                    <img class="h-10" src="~/assets/Logo_JobAidUkraine.svg" />
                </NuxtLink>
                <span class="text-xs flex items-center">
                    © jobAidUkraine.com – 2022
                </span>
            </div>
        </div>
        <div class="hidden lg:flex justify-between h-full">
            <div class="">
                <div class="mb-24">
                    <NuxtLink href="/">
                        <img class="h-10" src="../../assets/Logo_JobAidUkraine.svg" />
                    </NuxtLink>
                </div>
                <div>
                    <span class="text-xs flex items-center">
                        © jobAidUkraine.com – 2022
                    </span>
                </div>
            </div>
            <div class="">
                <div class="">
                    <p class="mb-3 text-sm font-semibold">CONNECT</p>
                    <ul class="text-xs space-y-2">
                        <li>
                            <NuxtLink to="/">Privacy Policy</NuxtLink>
                        </li>
                        <li>
                            <NuxtLink to="/">Imprint</NuxtLink>
                        </li>
                        <li>
                            <NuxtLink to="/">Contact Us</NuxtLink>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="">
                <div class="">
                    <p class="mb-3 text-sm font-semibold">INFORMATION</p>
                    <ul class="text-xs space-y-2">
                        <li>
                            <NuxtLink to="/">Media</NuxtLink>
                        </li>
                        <li>
                            <NuxtLink to="/">Press</NuxtLink>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="">
                <div>
                    <p class="mb-3 text-sm font-semibold">SHARE</p>
                </div>
                <div class="w-96">
                    <ul class="flex items-center justify-between">
                        <li class="flex flex-col">
                            <img src="~/assets/icons/social/facebook.svg" />
                            <span class="text-xs text-center">Facebook</span>
                        </li>
                        <li class="flex flex-col">
                            <img src="~/assets/icons/social/linkedin.svg" />
                            <span class="text-xs text-center">Linkedin</span>
                        </li>
                        <li class="flex flex-col">
                            <img src="~/assets/icons/social/twitter.svg" />
                            <span class="text-xs text-center">Twitter</span>
                        </li>
                        <li class="flex flex-col">
                            <img src="~/assets/icons/social/whatsapp.svg" />
                            <span class="text-xs text-center">Whatsapp</span>
                        </li>
                        <li class="flex flex-col">
                            <img src="~/assets/icons/social/email.svg" />
                            <span class="text-xs text-center">Email</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>-->
    </div>
</template>

<script lang="ts" setup>
</script>

<style scoped>
</style>
