<template>
  <div class="container w-full">
    <div class="mx-3">
      <AtomHeadline class="mb-4" type="h2" text="Job Search"></AtomHeadline>
      <MoleculeFormField
        label
        placeholder="Search job title, industry or company (optional)"
        type="text"
        :v$="v$"
        field="title"
        :state="state"
        :v-model="state.title"
      ></MoleculeFormField>
      <MoleculeFormField
        label
        title="Location"
        placeholder="Location"
        type="select"
        :v$="v$"
        field="location"
        :state="state"
        :v-model="state.location"
        :options="[
          { value: 'frankfurt', title: ' Frankfurt' },
          { value: 'berlin', title: ' Berlin' },
          { value: 'munich', title: ' Munich ' },
        ]"
      ></MoleculeFormField>
      <span>Search Jobs within</span>
      <MoleculeFormField
        label
        title="Show jobs within"
        placeholder="Show jobs within"
        type="select"
        :v$="v$"
        field="distance"
        :state="state"
        v-model="state.distance"
        :options="[
          { value: '0', title: ' This location only' },
          { value: '50', title: ' +50 km from this location' },
          { value: '100', title: ' +100 km from this location' },
          { value: '200', title: ' +200 km from this location' },
        ]"
      ></MoleculeFormField>
      <h3 class="mb-3">I speak</h3>
      <div class="language-grid">
        <div class="checkbox-row">
          <input
            type="checkbox"
            id="englishSimple"
            v-model="state.englishSimple"
          />
          <label class="label-checkbox" for="englishSimple"
            >English (simple)</label
          >
        </div>
        <div class="checkbox-row">
          <input
            type="checkbox"
            id="germanSimple"
            v-model="state.germanSimple"
          />
          <label class="label-checkbox" for="germanSimple"
            >Deutsch (einfach)</label
          >
        </div>
        <div class="checkbox-row">
          <input
            type="checkbox"
            id="englishFluent"
            v-model="state.englishFluent"
          />
          <label class="label-checkbox" for="englishFluent"
            >English (fluent)</label
          >
        </div>
        <div class="checkbox-row">
          <input
            type="checkbox"
            id="germanFluent"
            v-model="state.germanFluent"
          />
          <label class="label-checkbox" for="germanFluent"
            >Deutsch (fließend)</label
          >
        </div>
        <div class="checkbox-row">
          <input type="checkbox" id="ukrainian" v-model="state.ukrainian" />
          <label class="label-checkbox" for="ukrainian">українська</label>
        </div>
        <div class="checkbox-row">
          <input type="checkbox" id="russian" v-model="state.russian" />
          <label class="label-checkbox" for="russian">русский</label>
        </div>
      </div>
      <div class="mt-4 w-full">
        <AtomButton
          type="primary"
          content="Search Jobs"
          @click="buttonClick"
        ></AtomButton>
      </div>
      <hr />
      <h3 class="my-3">Your Recent Searches</h3>
      <span class="mb-3">You can click below to search again</span>
      <div class="mt-3 w-full">
        <MoleculeRecentJobSearchItem
          class="my-3"
          v-for="search in recentSearches"
          :key="search?.id"
          :search="search"
        ></MoleculeRecentJobSearchItem>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import useVuelidate from "@vuelidate/core";
import { ref } from "vue";
import { required } from "@vuelidate/validators";
const config = useRuntimeConfig();
const state = reactive({
  title: "-",
  location: "",
  distance: "",
  englishSimple: false,
  germanSimple: false,
  englishFluent: false,
  germanFluent: false,
  unkrainian: false,
  russian: false,
});

const recentSearches = ref([
  {
    id: "absa929",
    keywords: "Accountant, CA",
    languages: "English, German",
    distance: 100,
    location: "Frankfurt",
  },
  {
    id: "ss21",
    keywords: "SDE 1, SDE 2",
    languages: "English (fluent), English (simple)",
    distance: 0,
    location: "Berlin",
  },
  {
    id: "ss21",
    keywords: "House Keeping",
    languages: "German (simple)",
    distance: 50,
    location: "Munich",
  },
]);

const rules = {
  title: { required },
  location: { required },
  distance: { required },
};

const v$ = useVuelidate(rules, state);

const send = async () => {
  alert(await v$._value.$validate());
};

const buttonClick = async () => {
  console.log(state);
};
</script>

<style scoped>
h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.language-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0.5rem;
}

hr {
  margin-top: 25px;
  width: 100%;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;

  background: #ffffff;
  border: 1px solid #939393;
  box-sizing: border-box;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.label-checkbox {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-left: 8px;
}
</style>
