<template>
    <div class="container mx-auto">
        <AtomHeadline class="mb-4" type="h2" text="Add a job"></AtomHeadline>
        <MoleculeFormField
            label="Title"
            placeholder="Title"
            type="text"
            :v$="v$"
            field="title"
            :state="state"
            v-model="state.title"
        ></MoleculeFormField>

        <MoleculeFormField
            label="Description"
            placeholder="Description"
            type="textarea"
            :v$="v$"
            field="description"
            :state="state"
            v-model="state.description"
        ></MoleculeFormField>

        <MoleculeFormField
            label="Job Type"
            placeholder="Job Type"
            type="select"
            :v$="v$"
            field="jobType"
            :state="state"
            v-model="state.jobType"
            :options="[
                { 'value': 'FREELANCE', title: ' Freelance' },
                { 'value': 'PERMANENT', title: ' Permanent' },
                { 'value': 'PARTTIME', title: ' Parttime' },
                { 'value': 'TEMPORARY', title: ' Temporary' },
            ]"
        ></MoleculeFormField>

        <MoleculeFormField
            label="Application Link"
            placeholder="https://...."
            type="text"
            :v$="v$"
            field="applicationLink"
            :state="state"
            v-model="state.applicationLink"
        ></MoleculeFormField>
        <MoleculeFormField
            label="Application E-Mail"
            placeholder="jobs@...."
            type="text"
            :v$="v$"
            field="applicationMail"
            :state="state"
            v-model="state.applicationMail"
        ></MoleculeFormField>

        <MoleculeAutoComplete placeholder="Town" :options="foundTowns" @changed="fetchTowns"></MoleculeAutoComplete>
    </div>
</template>
<script setup lang="ts">
import useVuelidate from '@vuelidate/core'
import { required, email } from '@vuelidate/validators'
const config = useRuntimeConfig();
const state = reactive({
    title: '',
    description: '',
    jobType: '',
    applicationLink: '',
    applicationMail: '',
    languageLevels: '',
    company: {
        id: 0
    },
    address: {
        id: 0
    }
})
const rules = {
    title: { required },
    description: { required },
    jobType: { required },
    applicationLink: { required },
    applicationMail: { required },
    languageLevels: { required },
}
const v$ = useVuelidate(rules, state);
const foundTowns = ref(new Array<any>());

const send = async () => {
    alert(await v$._value.$validate());
}

const fetchTowns = async (needle: string | number) => {
        const { data } = await useFetch(`${config.apiUrlGeo}/town/${needle}`, { headers: { accept: 'application/json' } });
        foundTowns.value = data.value as Array<any>;
}
</script>
<style lang="scss" scoped>
</style>
