<template>
    <div class="post-job lg:w-9/12 mx-auto">
        <OrganismPostJobStaticInfo />
        <OrganismSignInForm
            @set-employer-email="setEmail"
            @set-employer-name="setName"
            @set-employer-job-title="setEmployerJobTitle"
        />
        <OrganismApplicantCheck
            @set-applicant-languages="setLanguages"
            @set-applicant-roles="setRoles"
        />
        <OrganismJobDetails
            @emit-job-title="setJobTitle"
            @emit-is-remote-available="setIsRemoteAvailable"
            @emit-job-description="setJobDescription"
            @emit-redirection-info="setRedirectionInfo"
        />
        <OrganismCompanyDetails />
        <div class="submit">
            <AtomButton
                class="w-full"
                type="secondary"
                content="Submit"
                @handleClick="onSubmit"
            />
        </div>
    </div>
</template>
<script setup lang="ts">
const router = useRouter();
const formState = reactive({
    personalDetails: {
        email: "",
        name: "",
        jobTitle: "",
    },
    applicantCheck: {
        languages: [],
        roles: [],
    },
    jobDetails: {
        jobTitle: "",
        classification: "",
        jobLocation: "",
        isRemote: false,
        jobType: "",
        jobDescription: "",
    },
    applicationsRedirect: {
        redirectInfo: "",
    },
    companyDetails: {
        companyName: "",
        website: "",
        tagline: "",
        twitterUsername: "",
        companyLogo: null,
    },
});

const setEmail = (newEmail) =>
    (formState.personalDetails.email = newEmail.value);
const setName = (newName) => (formState.personalDetails.name = newName.value);
const setEmployerJobTitle = (newEmpJobTitle) =>
    (formState.personalDetails.jobTitle = newEmpJobTitle.value);
const setLanguages = (newLanguages) =>
    (formState.applicantCheck.languages = newLanguages.value);
const setRoles = (newRoles) =>
    (formState.applicantCheck.roles = newRoles.value);
const setJobTitle = (newJobTitle) =>
    (formState.jobDetails.jobTitle = newJobTitle.value);
const setIsRemoteAvailable = (newValue) =>
    (formState.jobDetails.isRemote = newValue.value);
const setJobDescription = (newDesc) =>
    (formState.jobDetails.jobDescription = newDesc.value);
const setRedirectionInfo = (newValue) =>
    (formState.applicationsRedirect.redirectInfo = newValue.value);

const onSubmit = () => {
    console.log(formState);
    router.push("/post-job/JobPreview");
};
</script>

<style lang="scss" scoped>
.post-job {
    @apply px-4;
}
.submit {
    @apply text-center;
}
</style>
